
//THIS IS STYLE VARIABLES FOR FONTS IF YOU WANT TO USE WRITE @EXTEND%VARIABLES;
%m-100{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
%m-200{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
%m-300{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
%m-400{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
%m-500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
%m-600{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
%m-700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
%m-800{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
%m-900{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
//THIS IS STYLE VARIABLES FOR FONTS 


