// MEDIA FOR HEADER
@media(max-width: 1060px){
    .header__burger-line{
        transition: all .3s;
        height: 1.5px;
        width: 28px;
        background-color: $orange-color;
        border-radius: 1000px;
        margin-bottom: 6.5px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .header__inner.menu{
        position: relative;
    }
    .header__nav{
        position: relative;
        z-index: 100px;
        height: 80px;
    }
    .header__burger.disabled{
        min-width: 28px;
        height: 17.5px;
        .header__burger-line{
            &:nth-child(1){
                transform: translate(3px, 0px) rotate(45deg);
                transform-origin: left top;
                margin-bottom: 0;
            }
            &:nth-child(2){
                transform: scale(0);
            }
            &:nth-child(3){
                transform: translate(-7px, -11px) rotate(-45deg);
                transform-origin: right bottom;
            }
        }
        .header__burger-line{
            width: 28px;
            height: 2px;
            background-color: $gray-2;
        }
    }
    .header__container{
        padding: 0;
    }
    .select__body{
        position: relative;
        z-index: 10;
        margin-top: 5px;
    }
    .header__nav{
        border-radius: 0px;
        align-items: center;
    }
    .header__choose-lang{
        display: none;
    }
    .header__menu-item{
        display: none;
        &:first-child{
            display: block;
        }
    }
    .header__burger{
        margin-left: 20px;
        cursor: pointer;
        display: block;
    }
    .select.mobile{
        margin-right: 20px;
        display: block;
        & .select__curent{
            color: $dark-color;
        }
    }
    .main.menu-open {
        visibility: hidden;
      }
    .header__buttons{
        display: flex;
        align-items: center;
    }
    .header__burger-body.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        background-color: $white-color;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        overflow-y: scrol;
    }
}
@media(max-width: 700px){
    .header__nav{
        padding: 15px;
    }
}

@media(max-width: 470px){
    .header__logo{
        max-width: 90px;
        margin-right: 0;
        vertical-align: middle;
        margin-left: 5px;
    }
    .header__btn-link{
        max-width: 98px;
        width: 100%;
        padding: 10px 20px ;
    }
}
// MEDIA FOR HEADER



//STYLES FOR TOP
@media(max-width: 1230px){
    .top__img{
        width: 100%;
        max-width: 100%;
    }
    .top__box img{
        min-width: 100%;
    }
}
@media(max-width: 1060px){
    .top__img{
        width: 100%;
    }
    .top{
        background-image: none;
        
    }
    .top__inner{
        flex-direction: column;
        margin-left: 0;
        padding-top: 85px;
        padding-bottom: 50px;
    }
    .top__box{
        padding-bottom: 0;
        margin-right: 0;
    }
    .top__form{
        display: none;
    }
    .top__form-descr{
        display: none;
    }
    .top__description{
        margin-bottom: 20px;
    }
    .top__form.mobile{
        display: flex;
        flex-direction: column;
    }
    .top__form-descr.mobile{
        display: block;
        font-size: 12px;
        text-align: left;
    }
    .top__btn{
        margin-top: 10px;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .span-focused{
        left: 15px !important;
    }
    .top__input{
        padding-right: 0;
        transition: all .3s;
        padding-left: 0;
        padding-top: 15px;
        text-align: center;
        padding-bottom: 15px;
        &:focus{
            &::placeholder{
                color: $white-color; 
            }
        }
    }
    .top__span{
        display: none;
    }
}
@media(max-width: 600px){
    .top__form.mobile{
        width: 100%;
    }
    .top__title{
        font-size: 35px;
        line-height: 43px;
    }
    .top__subtitle{
        font-size: 24px;
        line-height: 29px;
    }
    .top__description{
        font-size: 16px;
        line-height: 20px;
    }
    .top__input{
        width: 100%;
    }
}
//STYLES FOR TOP


//STYLES FOR cards
@media(max-width: 1250px){
}

@media(max-width: 1060px){
    .cards{
        background-image: none;
    }
    .cards__wrapper{
        margin-left: 0;
        padding-top: 0;
    }
}
@media(max-width: 600px){
    .cards__title{
        text-align: left;
        font-size: 25px;
        line-height: 30px;
    }
}
//STYLES FOR cards


//STYLES FOR FOOTER
@media(max-width: 1160px){
    .footer__boxes{
        flex-direction: column;
        justify-content: start;
    }    
    .footer{
        padding-top: 30px;
    }
    .footer__box{
        margin-bottom: 20px;
        &:first-child{
            margin-bottom: 40px;
        }
    }
    .footer__logo{
        margin-bottom: 10px;
    }
}

@media(max-width: 820px){
    .footer__bottom{
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
    }
    .footer__item{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        &-text{
            margin-bottom: 10px;
            &:nth-child(1){
                margin-top: 30px;
                margin-bottom: 30px;
            }
            &.active{
                margin-bottom: 10px;
                margin-top: 0;
            }
        }
    }
}
//STYLES FOR FOOTER


//styles for partners
@media(max-width: 1060px){
    .partners__background{
        display: none;
    }
    .partners{
        padding-top: 0;
    }
}

@media(max-width: 710px){
    .partners{
        background-image: none;
    }
    .partners__title{
        font-size: 25px;
        line-height: 30px;
    }
    .partners__inner-2{
        display: block;
    }
}
@media(max-width: 1330px){
    .contact{
        justify-content: center;
        display: flex;
    }
    .contact__inner{
        margin-left: 0;
    }
}
@media(max-width: 1160px){
    .contact{
        display: block;
    }
    .contact__inner{
        margin-left: 0;
        width: 100%;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 25px 15px;
    }
    .contact__box{
        text-align: center;
        &:last-child{
            display: none;
        }
    }
    .contact__polici{
        text-align: left;
    }
    .contact__form{
        width: 100%;
        & input{
            width: 100%;
            max-width: 1000px;
        }
    }
    .contact__btn{
        width: 100%;
    }
}
@media(max-width: 500px){
    .contact__title{
        font-size: 25px;
        line-height: 30px;
    }
    .contact__descr{
        font-size: 16px;
    }
    .contact__inner{
        margin-top: 0px;
        margin-bottom: 50px;
    }
}
@media(max-width: 700px){
    .top__inner{
        padding-top: 85px;
    }
    .cards__wrapper{
        margin-top: 0px;
        padding-bottom: 0;
    }
    .partners{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .contact__inner{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .partners__title{
        margin-bottom: 30px;
        text-align: left;
    }
}
@media(max-width: 1170px){
    .hear__img{
        display: none;
    }
    .hear__box{
        &:first-child{
            display: none;
        }
        width: 100%;
        &:last-child{
            margin-left: 0;
        }
    }
    .hear__inner{
        padding-right: 0;
    }
}
@media(max-width: 1060px){
    .hear__inner{
        background-image: none;
        padding: 0;
        margin-bottom: 50px;
    }
}
@media(max-width: 600px){
    .hear__items{
        align-items: start;
    }
    .hear__item{
        margin-left: 9px;
        &:first-child{
            margin-left: 0;
        }
    }
    .hear__title{
        font-size: 25px;
        line-height: 30px;
    }
    .hear__descr{
        font-size: 16px;
        line-height: 27px;
    }
    .hear__item-descr{
        font-size: 12px;
        line-height: 27px;
        text-align: left;
    }
    .hear__btn{
        font-size: 16px;
        line-height: 20px;
    }
    .hear__descr{
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
    }
}
@media(max-width: 1160px){
    .steps__item::after{
        display: none;
    }
}
@media(max-width: 1060px){
    .steps{
        padding-bottom: 50px;
        padding-top: 0px;
    }
    .steps__bg{
        display: none;
    }
    .steps__title{
        margin-bottom: 50px;
    }
    .steps__items{
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
    }
    .steps__item{
        margin: 0;
        margin-bottom: 15px;
    }
}
@media(max-width: 600px){
    .steps__inner{
        min-width: 345px;
    }
    .steps{
        padding-top: 0;
        padding-bottom: 0px;
    }
    .steps__descr{
        font-size: 12px;
        line-height: 20px;
    }
    .steps__title{
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
    .steps__number{
        font-size: 38px;
        line-height: 46px;
        padding: 16px 27.5px;
    }
    .steps__itemі{
        justify-content: start;
    }

    .steps__item{
        max-width: 168px;
        &:first-child{
            .steps__number{
                padding: 16px 31.5px;
            }
        }
        &:last-child{
            .steps__number{
                padding: 16px 25.5px;
            }
        }
    }
}
@media(max-width: 600px){
    .steps__inner{
        min-width: 200px;
    }
}
@media(max-width: 1220px){
    .table.feedback{
        .table__row-title {
            width: 450px;
        }
        .table__col-title{
            max-width: 450px;
        }
        .table__row-checkmark {
            width: 245px;
        }
        .table__col-checkmark {
            width: 245px;
        }
        .table__inner {
            max-width: 971px;
        }
        .table__buttons {
            width: 432px;
            margin-right: 30px;
        }
        .table__btn {
            width: 187px;
        }
    }
}
@media(max-width: 1060px){
    .table{
        display: none;
    }
    .top.qr-boss{
        .top__inner{
            padding-bottom: 50px;
        }
        .top__img{
            margin-bottom: 10px;
        }
    }
    .table-mobile{
        display: block;
        margin-bottom: 50px;
    }
}

@media(max-width: 800px){
    .table-mobile__box{
        width: 345px!important;
    }
    .table-mobile__inner{
        width: 100%;
        display: block;
        overflow: visible;
    }
    .table-mobile__box{
        overflow: visible;
    }
    .slick-slide{
        overflow: visible;
    }
}

@media(max-width: 1060px){
    .buisnes__img {
        display: flex;
        justify-content: center;
        & img{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }
    .buisnes__boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 740px;
        &:last-child{
            justify-content: center;
            width: 900px;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 900px;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 900px;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px 60px;
        }
        &:nth-child(1){
            margin: 20px 60px 20px 0;
        }
    }
    .buisnes__descr{
        max-width: 100%;
    }
    .buisnes__img{
        & img{
            margin-top: 20px;
            width: 100%;
        }
    }
}

@media(max-width: 980px){
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        &:last-child{
            justify-content: center;
            width: 750px;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 750px;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 750px;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px 60px;
        }
    }
}

@media(max-width: 800px){
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        &:last-child{
            justify-content: center;
            width: 650px;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 650px;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 650px;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 370px;
        width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px auto;
        }
    }
}

@media(max-width: 680px){
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        &:last-child{
            justify-content: center;
            width: 550px;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 550px;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 550px;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 370px;
        width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px auto;
        }
    }
}


@media(max-width: 583px){
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        &:last-child{
            justify-content: center;
            width: 100%;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 100%;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 100%;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 370px;
        width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px auto;
        }
    }
}

@media(max-width: 540px){
    .buisnes__title{
        font-size: 25px;
        line-height: 30px;
    }
    .buisnes__box-inner{
        position: relative;
        display: block;
        margin: 0 auto;
        &:last-child{
            justify-content: center;
            width: 100%;
            padding-top: 0px;
        }
        &:nth-child(2){
            width: 100%;
            // margin: 0 auto;
            padding-top: 0px;
        }
        &:nth-child(1){
            width: 100%;
            // margin: 0 auto;
            padding-top: 0px;
        }
    }
    .buisnes__box{
        max-width: 370px;
        width: 100%;
        &:nth-child(2){
            margin: 20px 0 20px auto;
        }
    }
}

@media(max-width: 500px){
    .buisnes__img img{
        margin-top: 0;
    }
    .steps__descr span{
        font-size: 12px;
    }
    .buisnes__title{
        margin-bottom: 10px;
    }
    .buisnes__box{
        max-width: 370px;
        width: 300px;
        &:nth-child(2){
            margin: 20px 0 0px auto;
        }
    }
}





@media(max-width: 1160px){
    .bg-span{
        background-image: none;
        padding: 0;
        margin: 0;
    }
    .yes-no__text{
        padding: 70px auto;
    }
}

@media(max-width: 1060px){
    .top.qr-boss .top__inner {
        padding-bottom: 50px;
        padding-top: 100px;
    }
    .top__box-logo{
        & img{
            max-width: 178px!important;
            margin-bottom: 10px;
        }
    }
    .yes-no__item{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    img.yes-no__item-img{
        margin-bottom: -100px;
        width: 100%;
    }
    .yes-no__title{
        font-size: 25px;
        line-height: 30px;
    }
    span.bg-span{
        font-size: 34px;
        line-height: 41px;
    }
    .yes-no__text{
        max-width: 670px;
        padding: 30px;
        width: 100%;
        margin: 0;
    }
    .yes-no__box{
        background: $white-gray;
        border-radius: 15px;
        margin-bottom: 30px;
        margin-right: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .yes-no__boxes{
        align-items: center;
        flex-direction: column;
    }
    .yes-no__works{
        position: relative;
        width: 100%;
        max-width: 470px;
        margin-bottom: 35px;
        top: 0;
    }
    .yes-no__sub-title{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .yes-no__arrow{
        display: none;
    }
    img.yes-no__img-choose{
        margin: 0;
        margin-top: 20px;
    }
    .yes-no__box:last-child .yes-no__img-choose {
        margin: 0;
        margin-top: 20px;
    }
    .yes-no__text-descr{
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0; 
        margin-bottom: 0;
    }
    p.yes-no__text-descr__text{
        text-align: left;
        padding: 0 15px;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.yes-no__result{
        margin-bottom: 20px;
    }
    section.yes-no{
        margin-top: 0px;
        margin-bottom: 36px;
    }
}

@media(max-width: 650px){
    section.buisnes{
        padding-bottom: 50px;
        padding-top: 50px;
        background-image: none;
    }
    p.yes-no__p{
        font-weight: 500;
        font-size: 16px;
    }
    .yes-no__item{
        margin-top: 30px;
    }
    .yes-no__sub-title{
        margin-bottom: 10px;
    }
    img.yes-no__img-choose{
        width: 100%;
    }
    img.yes-no__result{
        width: 100%;
    }
    .yes-no__title{
        font-size: 25px;
        line-height: 30px;
        margin: 0 auto;
        width: 280px;
    }
    img.yes-no__item-img {
        margin-top: 30px;
    }
    .opportunities__teext-box{
        padding: 15px;
    }
}


@media(max-width: 1060px){
    .top.marketing .top__inner {
        padding-top: 90px;
    }
    .opportunities__items{
        flex-direction: column!important;
        align-items: center;
    }
    .opportunities__teext-box{
        margin: 0;
        width: 100%;
    }
    img.opportunities__img{
        margin-top: 30px;
    }
    section.opportunities{
        margin-bottom: 50px;
    }
}
@media(max-width: 600px){
    .opportunities__main-btn{
        margin-top: 20px;
    }
    .opportunities.marketing .opportunities__img-content{
        margin-left: 0;
    }
    .opportunities__bottom-subtitle{
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    .opportunities__bottom-title-descr{
        font-size: 12px;
    }
    .opportunities__bottom-title{
        font-size: 20px;
        line-height: 24px;
    }
    .opportunities__inner{
        margin-bottom: 50px;
    }
    h4.opportunities__title{
        margin-bottom: 20px!important;
    }
    .opportunities__teext-box{
        padding: 15px!important;
    }
    h4.opportunities__title{
        font-size: 25px;
        line-height: 29px;
    }
    .opportunities__descr{
        line-height: 22px;
    }
    h4.qr-code__title{
        font-size: 25px;
        line-height: 29px;
    }
    p.qr-code__descr{
        font-size: 16px;
    }
}

@media(max-width: 1200px){
    .qr-code__mobile{
        display: block;
    }
    img.qr-code__img{
        
        width: 100%;
        margin: 0;
        display: block;
        margin-bottom: -1px;
    }
    .qr-code{
        background-image: url(/images/qr-code/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 160px;
        width: 100%;
        max-height: 100%;
        margin-top: 50px;
    }
    .qr-code__inner{
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .qr-code__subtitle,
    .qr-code__subdescr,
    .qr-code__btn{
        display: none;
    }
    .qr-code__content{
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
    }
}


@media(max-width: 860px){
    img.qr-code__img{
        width: 73%;
    }
    .qr-code{
        background-size: contain;
    }
}

@media(max-width: 1060px){
    .steps__absolute-img,
    .steps__absolute-img-2{
        display: none;
    }
    .opportunities.revers{
        .opportunities__items{
            flex-direction: column;
        }
    }
    .opportunities__main-btn{
        display: none;
    }
    .opportunities__main-btn.mobile{
        display: block;
    }
}

@media(max-width: 450px){
    .integrations__inner{
        grid-gap: 8px;
    }
    .integrations__item {
        width: 100%;
        max-width: 370px;
        & img{
            width: 100%;
            height: auto;
            max-width: 370px;
            max-height: 370px;
            box-shadow: 0px 8.55128px 9.73077px rgba(85, 105, 107, 0.1);
            border-radius: 17.6923px;
        }
    }
}


@media(max-width: 1200px){
    .downoload__content{
        margin-left: 76px;
    }
}

@media(max-width: 1110px){
    .downoload__content{
        margin-left: 50px;
    }
}

@media(max-width: 1100px){
    .downoload__content{
        margin-left: 0px;
        width: 100%;
        max-width: 570px;
    }
    .downoload__inner {
        flex-direction: column-reverse;
        height: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
    .downoload__img img{
        margin-top: 0;
        width: 100%;
        margin-bottom: -3px;
    }
    .downoload__content{
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


@media (max-width: 1200px){
    .steps__absolute-img, .steps__absolute-img-2 {
        display: none;
    }
}

@media (max-width: 600px){
    .downoload__content{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .downoload__title{
        font-size: 25px;
        line-height: 30px;
    }
    .downoload__descr{
        font-size: 16px;
        line-height: 27px;
    }
    .downoload__img img{
        padding-left: 40px;
        padding-right: 40px;
    }
    .downoload{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h2.opportunities__main-title{
        font-size: 25px;
        line-height: 30px;
    }
    .opportunities.revers .opportunities__item{
        margin-left: 0;
    }
    .integrations__title{
        font-size: 25px;
        line-height: 30px;
    }
    .integrations{
        margin-top: 50px;
        margin-bottom: 45px;
    }
}


@media (max-width: 1260px){
    .table.marketing .table__col-title{
        max-width: 600px;
    }
    .table.marketing .table__row-title{
        width: 600px;
    }
    .table.marketing .table__inner {
        max-width: 1017px
    }
}



@media (max-width: 1180px){
    .top.brend{
        .top__content-absolute{
            margin-top: 15px;
            position: relative;
            transform: rotate(0);
            display: block;
            top: 0;
            right: 0;
            font-size: 20px;
            margin-bottom: 15px;
            box-shadow: none;
        }
        p.top__description{
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1130px){
    .top.brend{
        .top__content-absolute{
            margin: 15px auto;
        }
        .top__inner{
            flex-direction: column;
        }
        .top__form {
            display: none;
        }
        .top__form.mobile{
            display: flex;
        }
        h2.top__title{
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 15px;
        }
        img.top__img{
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1060px){
    .bg-image-yes,
    bg-image-yes-no{
        display: none;
    }
    .description-card__inner{
        flex-direction: column;
        align-items: center;
    }
    .description-card__card{
        margin-left: 0;
        margin-top: 50px;
        &:first-child{
            margin-top: 0;
        }
    }
    section.description-card{
        margin-bottom: 50px;
    }
    .opportunities.revers.qb-tools img.opportunities__img{
        margin-right: 0;
    }
    .opportunities.qb-tools img.opportunities__img{
        margin-left: 0;
    }
    .top.qb-tools .top__inner {
        padding-top: 89px;
    }
    .text__inner{
        flex-direction: column;

    }
    .text__box{
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        margin-top: 20px;
    }
    .text__box-descr{
        font-weight: 700;
        text-align: center;
    }
    .text__title{
        text-align: center;
    }
    .coulumn__inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .coulumn__item{
        margin-bottom: 20px;
    }
    .mult__inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .info__blok{
        display: none;
    }
    .info__content{
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .info__content-box{
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }
    .info__box-title{
        max-width: 345px;
        width: 100%;
    }
    .info__content-descr{
        max-width: 345px;
        width: 100%;
    }
    .top.brend .top__inner {
        padding-top: 94px;
    }
    .items__box{
        &:nth-child(2){
            margin: 0;
        }
    }
    .mission__item::before{
        display: none;
    }
    .mission__inner{
        flex-direction: column;
        align-items: center;
    }
    .mission__box{
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 570px;
    }
    img.mission__img{
        margin-bottom: 50px;
        width: 100%;
    }
    .mission__item{
        margin-left: 0;
    }
}

@media (max-width: 600px){
    .description-card__title{
        font-size: 25px;
        line-height: 30px;
    }
    .description-card__descr{
        font-size: 16px;
        line-height: 20px;
    }
    .description-card__content{
        padding: 15px 15px 20px 15px;
    }
    .description-card__img{
        margin-top: 0;
    }
    .partners.qb-tools{
        padding-top: 0;
    }
    .mission__box,
    .mission__item{
        padding: 15px;
    }
    .mission__box-title{
        font-size: 25px;
        line-height: 30px;
    }
    .mission__box-descr{
        font-size: 16px;
        line-height: 20px;
    }
    .mission__item-title{
        font-size: 25px;
        line-height: 30px;
    }
    .mission__item-descr{
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 1200px){
    .qr-code__btn-app{
        display: none;
    }
    .qr-code__btn-app.mobile{
        display: inline-block;
    }
}
@media (max-width: 1220px){
    .table.brend .table__col-checkmark{
        min-width: 180.27px;
    }
    .table.brend .table__row-checkmark{
        width: 219.33px;
    }




    .opportunities.qb-tools img.opportunities__img{
        margin-left: 12px;
    }
    .items__inner{
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 600px;
        width: 100%;
    }
    .items__box{
        max-width: 270px;
        width: 100%;
    }
    .mult__boxes::before,.mult__boxes::after{
        display: none;
    }
    .coulumn__item{
        margin-bottom: 50px;
        margin-right: 0;
    }
}


@media (max-width: 600px){
    .info__box-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .info__content-descr{
        font-size: 16px;
    }
    .info__content-box{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    section.info{
        margin-bottom: 50px;
    }
    .items__title{
        font-size: 25px;
    }
    .items__box-title{
        font-size: 14px;
        height: 64px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items__box-descr{
        font-size: 12px;
    }
    .items__box{
        max-width: 168px;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 9px;
    }
    .items__img{
        max-width: 168px;
    }
    .items__inner{
        justify-content: center;
    }
    section.items{
        margin-bottom: 50px;
    }
    .text__title{
        font-size: 25px;
        text-align: left;
    }
    .text__box-descr{
        font-size: 20px;
        text-align: left;
        & span{
            font-size: 20px;
        }
    }
    .coulumn__text-box{
        padding: 15px;
    }
    .coulumn__text-title{
        margin-bottom: 0;
        font-size: 25px;
    }
    .coulumn__text-descr{
        font-size: 16px;
    }
    .coulumn__item{
        margin-bottom: 50px;
        margin-right: 0;
    }
    section.coulumn{
        margin-bottom: 0px;
    }
    .mult__boxes{
        margin-left: 0;
        margin-top: 0;
    }
    section.mult{
        margin-top: 0;
    }
    .mult__box{
        padding: 15px;
    }
    .mult__title{
        font-size: 25px;
    }
    .mult__descr{
        font-size: 16px;
    }
    section.partners.brend{
        padding-top: 0;
    }
}