@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';





.header{
    position: relative;
    &__inner{
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    &__lang{
        position: relative;
        width: 45px;
        margin-right: 60px;
    }
    &__choose-lang {
        background-color: #000;
        height: 33px;
        vertical-align: center;
        padding: 6px;
        position: relative;
        display: flex;
        justify-content: end;
    }
    &__container{
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        padding: 0 15px;
        width: 100%;
    }
    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 60px;
        align-items: center;
        background: #F3F3F3;
        border-radius: 0px 0px 30px 30px;
        max-height: 80px;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__menu-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        @extend%m-500;
        color: #000;
        position: relative;
    }
    &__logo {
        max-width: 110px;
        cursor: pointer;
        margin-right: 91px;
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__dropdown {
        transition: all .4s;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        &:hover{
            color: #FF5100;
            .header__dropdown-arrow{
                transform: rotate(180deg);
            }
            .header__dropdown-list {
                opacity: 1;
                visibility: visible;
                transform: rotate(0);
            }
        }
    }
    &__dropdown-arrow{
        transition: all .4s;
        transform: rotate(0deg);
        margin-top: -1px;
    }
    &__dropdown-list {
        visibility: hidden;
        transition: all .2s linear;
        opacity: 0;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        z-index: 5px;
        padding: 30px 0;
        background: #F3F3F3;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        position: absolute;
        width: 378px;
        top: 50px;
        transition: all .4s;
    }
    &__dropdown-item {
        padding: 10px 30px;
        cursor: pointer;
        transition: all .2s;
        &:hover{
            .header__dropdown-list-2{
                opacity: 1;
                visibility: visible;
                transform: rotate(0);
            }
            background-color: #FF5100;
            .header__dropdown-link{
                color: #fff;
                &::before{
                    content: url(../images/arrow-w.svg);
                }
            }
        }
    }
    &__burger-title {
        display: inline-block;
        cursor: pointer;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        @extend%m-600;
    }
    &__burger-img-arrow{
        margin-bottom: 3px;
        margin-left: 7px;
        display: inline;
        cursor: pointer;
        transition: all .4s;
        &.open{
            transform: rotate(180deg);
        }
    }
    &__burger-wrapper{
    }
    &__burger-acordeon-body {
        padding-top: 10px;
    }
    &__burger-link {
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        font-size: 14px;
        display: block;
        line-height: 17px;
        color: #000;
        @extend%m-500;
    }
    &__burger-footer {
        padding-top: 16px;
        border-top: 1px solid #FF5100;
        margin-top: 40px;
    }
    &__burger-box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__burger-img {
        margin-right: 11px;
    }
    &__burger-footer-text {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        @extend%m-600;
    }
    &__burger-acordeon{
        margin-bottom: 15px;
        cursor: pointer;
        padding-bottom: 15px;
        width: 330px;
        border-bottom: 1px solid #F3F3F3;
        &:nth-child(9){
            border-bottom: none;
        }
    }
    &__burger-body{
        background-color: #fff;
        transition: all .5s ease;
        position: absolute;
        height: 100vh;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        padding: 15px;
        visibility: hidden;
        transform: translateX(-200%);
    }
    &__dropdown-link {
        transition: all .3s;
        @extend%m-700;
        color: #FF5100;
        line-height: 20px;
        font-size: 16px;
        display: block;
        position: relative;
        &:nth-child(7){
            &::before{
                content: '1';
            }
        }
        &:nth-child(8){
            &::before{
                content: '1';
            }
        }
        &:nth-child(9){
            &::before{
                content: '1';
            }
        }
        &::before{
            position: absolute;
            content: url(../images/arrow-o.svg);
            right: 0;
        }
    }
    &__dropdown-list-2 {
        visibility: hidden;
        transition: all .2s linear;
        opacity: 0;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        z-index: 6px;
        position: absolute;
        right: -370px;
        top: 19px;
        background: #F3F3F3;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.18);
        border-radius: 15px;
        width: 379px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    &__dropdown-item-2 {
        max-width: 349px;
    }
    &__dropdown-link-2 {
        @extend%m-500;
        display: block;
        cursor: pointer;
        margin-left: 30px;
        color: #000;
        transition: all .3s;
        margin-bottom: 10px;
        &:hover{
            color: #FF5100;
        }
    }
    &__dropdown-arrow {
        margin-left: 7px;
    }
    &__link {
        display: block;
        cursor: pointer;
        color: #000;
        margin-left: 30px;
    }
    // &__buttons {
    // }
    &__btn-link {
        border: none;
        margin: 0;
        @extend%m-700;
        line-height: 20px;
        font-size: 16px;
        color: #fff;
        background-color: #FF5100;
        border-radius: 10px;
        transition: all .3s;
        cursor: pointer;
        padding: 15px 36px;
        &:hover{
            color: #fff;
            background-color: #ED5108;
        }
        &:active{
            background-color: #A73804;
        }
    }
    &__burger {
        display: none;
    }
}
.top__img{
    max-width: 536px;
}
.contact__img-phone{
    max-width: 597px;
}
.header__burger-acordeon-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .header__burger-acordeon.open .header__burger-acordeon-body {
    max-height: 700px; /* Задайте желаемую максимальную высоту */
    transition: max-height 0.5s ease;
  }


  .top__form.mobile{
    display: none;
}
.top__form-descr.mobile{
    display: none;
}
.top{
    &.horeca{
        background-image: none;
    }
    background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__inner {
        padding-top: 60px;
        display: flex;
        align-items: center;
        margin-left: 60px;
    }
    &__box {
        margin-right: 15px;
        max-width: 570px;
        padding-bottom: 45px;
        &:last-child{
            margin-right: 0;
        }
        & img{
        }
    }
    &__title {
        @extend%m-700;
        font-size: 42px;
        line-height: 51px;
        text-transform: uppercase;
        color: #FF5100;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 29px;
        @extend%m-600;
        color: #FF5100;
        margin-bottom: 20px;
    }
    &__description {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 35px;
    }
    &__bold {
        @extend%m-700;
    }
    &__form {
        position: relative;
    }
    &__span {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-400;
    }
    &__input {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: #F3F3F3;
        border-radius: 15px;
        padding: 25px 255px 25px 20px ;
        width: 439px;
        transition: all .3s;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-400;
        cursor: text;
        &:hover{
            background: #FFFFFF;
            outline: 1px solid #FF5100;
        }
        &:focus{
            background: #FFFFFF;
            outline: 1px solid #FF5100;
            caret-color: #FF5100;
        }
    }
    &__btn {
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        top: 10px;
        cursor: pointer;
        right: 152px;
        background-color: #FF5100;
        border-radius: 10px;
        @extend%m-700;
        color: #FFFFFF;
        font-size: 16px;
        padding: 15px 20px;
        line-height: 20px;
        transition: all .3s;
        &:hover{    
            background-color: #ED5108;
        }
        &:active{
            background-color: #A73804;
        }
    }
    &__form-descr {
        @extend%m-500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-top: 10px;
    }
}
.partners__inner-2{
    display: none;
}

.cards{
    background-image: url(../images/bg-cards.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        @extend%m-700;
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #FF5100;
        margin-bottom: 30px;
    }
    &__wrapper{
        padding-top: 50px;
        margin-left: 60px;
        padding-bottom: 50px;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        grid-gap: 30px;
        max-width: 1185px;
    }
    &__card-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 15px;
    }
    &__card {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 15px;
        position: relative;
        transition: all .5s;
        &:hover{
            .cards__card-title {
                bottom: 237px;
            }
            .cards__card-hovered {
                opacity: 1;
            }
            // .cards__card-descr {
            // }
            // .cards__card-arrow-wrap {
            // }
            // .cards__card-arrow {
            // }         
        }
    }
    &__card-title {
        transition: all .5s;
        z-index: 800;
        @extend%m-700;
        position: absolute;
        // bottom: 237px;
        bottom: 30px;
        left: 30px;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #FF5100;
        max-width: 310px;
    }
    &__card-hovered {
        // display: none;
        transition: all .5s;
        opacity: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        border-radius: 15px;
        left: 0;
        background: linear-gradient(180deg, rgba(15, 15, 16, 0.8) 0%, rgba(15, 15, 16, 0.8) 100%);
        backdrop-filter: blur(15px);
    }
    &__card-descr {
        max-width: 310px;
        position: absolute;
        font-size: 16px;
        line-height: 27px;
        color: #fff;
        @extend%m-700;
        bottom: 85px;
        left: 30px;
    }
    &__card-arrow-wrap {
        cursor: pointer;
        transition: all .4s;
        position: absolute;
        margin-top: 10px;
        bottom: 26px;
        left: 30px;
        &:hover{
            .cards__card-arrow{
                background-color: #ED5108;
            }
        }
    }
    &__card-arrow {
        transition: all .3s;
        background-color: #FF5100;
        border-radius: 10000px;
        padding: 9.55px 13.36px 9.55px 17.18px;
    }
}



.footer {
    background: linear-gradient(91.42deg, #FF5B29 1.28%, #FFA917 99.19%);
    padding-top: 100px;
    padding-bottom: 22px;
    &__boxes {
        display: flex;
    }
    &__box {
        margin-right: 65px;
        &:first-child{
            max-width: 270px;
        }
        &:last-child{
            max-width: 835px;
            margin-right: 0;
        }
    }
    &__logo {
        min-width: 155px;
        margin-bottom: 25px;
    }
    &__descr {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        & span{
            @extend%m-700;
        }
    }
    &__copypast {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 15px;
    }
    &__links-title {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    &__links {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__img {
        margin-right: 10px;
    }
    &__link {
        color: #FFFFFF;
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
    }
    &__bottom {
        max-width: 1170px;
        margin-top: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;

    }
    &__item-text {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
        &.active{
            margin-right: 90px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color :#FF5100;
                transition: all .3s;
            }
        }
    }
}


.partners {
    padding-top: 100px;
    background-image: url(../images/bg-partner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 50px 105px; 
    }
    &__item {
        // margin-left: 10px;
    }
    // &__img {

    // }
    &__title{
        margin-bottom: 30px;
        text-align: center;
        font-size: 34px;
        color: #FF5100;
        line-height: 41px;
        text-transform: uppercase;
    }
}
.slick-slide {
    margin-right: 20px; /* Задайте желаемый отступ между слайдами */
  }
  


.contact {
    &__inner {
        margin-top: 120px;
        padding: 50px 0 50px 37px;
        margin-bottom: 150px;
        background: #F3F3F3;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        max-width: 1170px;
        margin-left: 60px;
        width: 100%;
        height: 450px;
        position: relative;
    }
    &__box {
        width: 526px;
        & img{
            position: absolute;
            top: -149px;
            // top: -500px;
            right: 0;
        }
    }
    &__title {
        font-size: 34px;
        line-height: 41px;
        color: #FF5100;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__descr {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    &__input-name{
        position: relative;
        margin-bottom: 15px;
        &::before{
            content: '*';
            position: absolute;
            top: 0;
            z-index: 999;
            color: red;

        }
    }
    &__form {
        width: 100%;
        position: relative;
        & input{
            width: 100%;
            max-width: 433px;
            position: relative;
            border: none;
            background-color: #fff;
            transition: all .3s;
            outline: none;
            border-radius: 10px;
            padding: 10px 20px;
            position: relative;
            &::placeholder{
                font-size: 16px;
                line-height: 20px;
                @extend%m-400;
                color: #929292;
            }
            &:hover{
                background: #FFFFFF;
                outline: 1px solid #FF5100;
            }
            &:focus{
                background: #FFFFFF;
                outline: 1px solid #FF5100;
                caret-color: #FF5100;
            }
            &:focus ~ .input-placeholder{
                display:none;
            }
        }
    }
    &__btn{
        margin-top: 25px;
        pointer-events:none;
        transition: all .3s;
        background-color: #FF5100;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
        @extend%m-700;
        text-align: center;
        padding: 15px 0;
        width: 433px;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover{
            background-color: #ED5108;
        }
        &:active{
            background-color: #A73804;
        }
    }
    &__polici {
        margin-top: 7px;
        @extend%m-400;
        font-size: 12px;
        line-height: 15px;
        
    }
}
.last-char {
    position: absolute;
    top: 0;
    right: 10px;
    color: red;
  }


.link {
    margin-left: 3px;
    @extend%m-400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    color: #FF5100;
}

.footer.menu-open{
    display: none;
}

.header__inner.menu{
    position: relative;
}
.wrapper.menu-open{
    // height: 1px;
    display: none;
}





.top.qr-boss{
    & .top__inner{
        padding-top: 128px;
        padding-bottom: 100px;
    }
    & .top-logo__img{
        margin-bottom: 30px;
    }
    & .top__title{
        margin-bottom: 20px;
    }
}












.hear {
    &__inner {
        background-image: url(../images/bg__hear.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-right: 60px;
    }
    &__boxes {
        display: flex;
    }
    &__img {
        margin-right: 36px;
    }
    &__title {
        margin-top: 60px;
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #FF5100;
        @extend%m-700;
        margin-bottom: 15px;
    }
    &__descr {
        @extend%m-700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    &__items {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &__item-img {
        margin-bottom: 15px;
    }
    &__item-descr {
        @extend%m-500;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
    }
    &__btn {
        color: #FFFFFF;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        font-size: 16px;
        @extend%m-700;
        line-height: 20px;
        background-color: #FF5100;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: #fff;
            background-color: #ED5108;
        }
        &:active{
            background-color: #A73804;
        }
    }
}

.steps {
    padding-top: 100px;
    background-image: url(../images/bg-steps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    &__inner {
    }
    &__title {
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #FF5100;
        @extend%m-700;
        text-align: center;
        margin-bottom: 129px;
    }
    &__items {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 270px;
        text-align: center;
        position: relative;
        margin-right: 30px;
        &::after{
            content: url(../images/arrow-step.svg);
            position: absolute;
            top: -32px;
            right: -95px;
        }
        &:last-child{
            margin-right: 0;
            &::after{
                display: none;
            }
        }
    }
    &__item-img {
        margin-bottom: 15px;
    }
    &__descr {
        font-size: 16px;
        line-height: 27px;
        color: #000000;
        & span{
            color:#FF5100; 
        }
    }
}





.table {
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    &__header {
        display: flex;
        align-items: center;
        border-top: 1px solid #898989;
        border-bottom: 1px solid #898989;
        border-right: 1px solid #898989;
        height: 131.35px;
    }
    &__row-title {
        width: 515px;
        border-right: 1px solid #898989;
        height: 131.35px;
    }
    &__row-title-text {
        margin-top: 51.18px;
        margin-left: 15px;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        @extend%m-600;
    }
    &__row-checkmark {
        text-align: center;
        width: 218.33px;
        border-right: 1px solid #898989;
        height: 131.35px;
        &:last-child{
            border: none;
        }
        &:nth-child(3){
            position: relative;
            &::before{
                content: url(../images/smile.png);
                position: absolute;
                top: -40px;
                left: -4px;
            }
        }
    }
    &__checkmark-title {
        @extend%m-700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin: 15px 0 12px 0;
    }
    &__checkmark-price-month {
        @extend%m-700;
        font-size: 24px;
        line-height: 29px;
        color: #FF5100;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    &__checkmark-price-year {
        @extend%m-700;
        font-size: 21px;
        line-height: 26px;
        text-transform: uppercase;
        color: #898989;
    }
    &__body {
        border-bottom: 1px solid #898989;
        border-right: 1px solid #898989;
        height: 100%;
    }
    &__col {
        display: flex;
        align-items: center;
        &:nth-child(6){
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/like-hand.png);
                top: -5px;
                left: -100px;
            }
        }
    }
    &__col-title {
        @extend%m-600;
        width: 515px;
        padding: 15px;
        border-right: 1px solid #898989;
        font-size: 20px;
        line-height: 34px;
        color: #000000;
    }
    &__col-checkmark {
        width: 218.33px;
        text-align: center;
        border-right: 1px solid #898989;
        flex-grow: 1;
        &:last-child{
            border: none;
        }
    }
}

.sale{
    @extend%m-700;
    color: #fff;
    font-size: 13.6216px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    padding: 5.68px;
    background-color: #FF5100;
    border-radius: 5.67568px;
}
.span{
    @extend%m-700;
    text-transform: initial;
    font-size: 16px;
    line-height: 27px;
}










.checkmark-img {
}














@import 'media';