@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// STYLE FOR HEADER
.header{
    position: relative;
    &__inner{
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    &__change-lang-desktop {
        background-color: #000;
        height: 33px;
        vertical-align: center;
        padding: 6px;
        position: relative;
        display: flex;
        justify-content: end;
    }
    &__container{
        max-width: 1290px;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        // align-items: center;
        width: 100%;
    }
    &__lang{
        color: #fff;
        width: 42px;
        margin-right: 60px;
        position: relative;
        cursor: pointer;
    }
    &__selected-img{
        position: absolute;
        top: 7px;
        right: 1px;
    }
    &__selected-item{
        margin-left: 2px;
        @extend%m-600;
        font-size: 16px;
        line-height: 20px;
    }
    &__lang-list{
        &.open{
            display: block;
        }
        margin-top: 5px;
        display: none;
        border-radius: 5px;
        background: #F3F3F3;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
        color: #000;
        text-align: center;
        width: 45px;
    }
    &__lang-item{
        padding: 5px;
        font-size: 16px;
        line-height: 20px;
        @extend%m-600;
        transition: all .3s;
        &:hover{
            background-color: gray;
        }
    }
    &__wrapper{
        position: relative;
    }
    &__arrow-bottom{
        z-index: 10;
        position: absolute;
        right: 60px;
        top: 7px;
        transition: all .3s;
        transform: rotate(0deg);
        &.open{
            transform: rotate(180deg);
        }
    }
    
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 60px;
        align-items: center;
        background: #F3F3F3;
        border-radius: 0px 0px 30px 30px;
        max-height: 80px;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__menu-link {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-500;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            color: #FF5100;
        }
    }
    &__menu-item{
        position: relative;
        margin-right: 30px;
        &:first-child{
            margin-right: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__logo {
        margin-right: 91px;
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__dropdown {
        display: none;
        padding: 30px !important;
        background: #F3F3F3;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        position: absolute;
        top: 40px;
    }
    &__dropdown-item {
        display: none;
        width: 379px;
        color: #000000;
        cursor: pointer;
        transition: all .3s;
        padding: 10px;
        font-size: 16px;
        line-height: 37px;
        @extend%m-500;
        position: relative;
        &::after{
            content: url(../images/arrow-o.svg);
            position: absolute;
            top: 11px;
            right: 10px;
        }
        &.active{
            &::after{
                content: url(../images/arrow-w.svg);
            }
            @extend%m-700;
            color: #fff;
            background-color: #FF5100;
            border-radius: 10px;
            &:hover{
                color: #fff;
            }
        }
        &:hover{
            color: #FF5100;
        }
    }
    &__btn-link {
        display: block;
        cursor: pointer;
        @extend%m-700;
        line-height: 20px;
        font-size: 16px;
        color: #E64900;
        background-color: #FEB897;
        border-radius: 10px;
        transition: all .3s;
        padding: 15px 36px;
        &:hover{
            color: #fff;
            background-color: #FF5100;
        }
        &:active{
            background-color: #ED5108;
        }
    }
    &__dropdown-title{
        position: relative;
        width: 90px;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-500;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            color: #FF5100;
        }
    }
    &__dropdown-img{
        position: absolute;
        top: 8px;
        right: 1px;
    }
}

// STYLE FOR HEADER END


.top{
    background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__inner {
        padding-top: 60px;
        display: flex;
        align-items: center;
        margin-left: 60px;
    }
    &__box {
        margin-right: 15px;
        max-width: 570px;
        padding-bottom: 45px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__title {
        @extend%m-700;
        font-size: 42px;
        line-height: 51px;
        text-transform: uppercase;
        color: #FF5100;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 29px;
        @extend%m-600;
        color: #FF5100;
        margin-bottom: 20px;
    }
    &__description {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 35px;
    }
    &__bold {
        @extend%m-700;
    }
    &__form {
        position: relative;
    }
    &__span {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-400;
    }
    &__input {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: #F3F3F3;
        border-radius: 15px;
        padding: 25px 255px 25px 69px ;
        width: 439px;
        transition: all .3s;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @extend%m-400;
        cursor: text;
        &:hover{
            background: #FFFFFF;
            outline: 1px solid #FF5100;
        }
        &:focus{
            background: #FFFFFF;
            outline: 1px solid #FF5100;
            caret-color: #FF5100;
        }
    }
    &__btn {
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        top: 10px;
        cursor: pointer;
        right: 152px;
        background-color: #FF5100;
        border-radius: 10px;
        @extend%m-700;
        color: #FFFFFF;
        font-size: 16px;
        padding: 15px 20px;
        line-height: 20px;
        transition: all .3s;
        &:hover{
            background-color: #ED5108;
        }
        &:active{
            background-color: #FF5100;
        }
    }
    &__form-descr {
        @extend%m-500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 10px;
    }
    &__img {
    }
}

.cards{
    background: #F3F3F3;
    backdrop-filter: blur(150px);
    height: 100vh;
    width: 100%;
}












@import 'media';